body{
	border: 1px solid black;
	max-width: 750px;
	min-width: 750px;
	min-height: 1337px; 
	max-height: 1337px;
}

#grid{
	display: grid;
	grid-template-columns: repeat(1, 200px);
	grid-template-rows: repeat(5, 200px);
}

#grid1, #grid2, #grid3, #grid4, #grid5{
	width: 750px;
	height: 170px;
	position: relative;
	transition: 0.5s all ease;
}

#inp1, #inp2, #inp3, #inp4, #inp5{
	width: 400px;
	height: 150px;
	position: relative;
	border-radius: 100px;
	transition: 0.5s all ease;
}

#grid1{
	background-color: black;
	margin-top: 150px;
}

#grid2{
	background-color: yellow;	
	margin-top: 150px;
}

#grid3{
	background-color: green;	
	margin-top: 150px;
}

#grid4{
	background-color: blue;	
	margin-top: 150px;
}

#grid5{
	background-color: red;	
	margin-top: 150px;
}
